#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    --font-primary: 'Nunito', sans-serif;
    --color-white: #ffffff;
    --color-primary: #FD377E;
    --color-primary-2: #E34981;
    --color-secundary: #03B898;
    --grey-1: #F8F9FA;
    --grey-2: #E9ECEF;
    --grey-3: #868E96;
    --grey-4: #212529;
    --font-primary: 'Nunito', sans-serif;
}