.header {
    width: 100%;
    max-width: 76.875rem;
    padding: clamp(.75rem, 2vm , 1.2rem);
    height: 5.5rem;
    border-bottom: 0.125rem solid var(--grey-2);
    display: flex;
    align-items: center;
    justify-content: first baseline;
    @media (min-width: 64rem){
        justify-content: flex-start;
    }
    img {
        display: flex;
        justify-content: right;
    }
}