.inputBox {
    display: flex;
    flex-direction: column;
    gap: .35rem;

    @media (max-width: 64rem){
        justify-content: flex-start;
    }

    input {

        height: 3.3rem;
        width: 19.625rem;
        padding: 0rem, 1rem, 0rem, 1rem;
        border-radius: 0.5rem;
        font-family: var(--font-primary);
        font-size: 1rem;
        background-color: var(--grey-1);
        color: var(--grey-3);
    }

    select {
        width: 19.625rem;
        padding: 0rem, 1rem, 0rem, 1rem;
        border-radius: 0.5rem;
        font-family: var(--font-primary);
        font-size: 1rem;
        color: var(--grey-3);
        background-color: var(--grey-1);
        border: none;

    }

}